autom4te.cache
aclocal.m4
config.h
config.h.in
config.h.in~
config.log
configure
depcomp
config.status
install-sh
libtool
ltmain.sh
Makefile
missing
Makefile.in
stamp-h1
tests/Makefile.in
tests/Makefile
tests/sphere1.tif
tests/test3.rib
src/*.so
src/*.o
src/*.la
src/*.lo
src/*.loT
src/*_wrap.c
src/*_wrap.cpp
src/rman/aqsisnv.scm
src/rman/ri2rib.scm
src/.deps
src/.deps/libguile_rman_rispec_la-rispec_wrap.Plo
src/.libs
src/rman/rispec.scm
src/Makefile
src/Makefile.in
*.Plo
